<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="aConnectionString"/>
    <add key="LogFileDirectory" value="C:\Test\"/>
    <add key="LogType" value="Sql, File"/>
    <add key="LogLevel" value="Error, Message"/>
  </appSettings>
</configuration>