<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value=""/>
    <add key="LogFileDirectory" value=""/>
    <add key="LogType" value="Sql, Console, File"/>
    <add key="LogLevel" value="Error, Message, Warning"/>
  </appSettings>
</configuration>